.container{
    background-color: #ffffff47;
    color: black;
    max-width: 60%;
    border-radius: 30px;
    margin-top: 10px;
}

.titulo{
    text-align: center;
    padding-top: 25px;
}

.tituloInterno{
    text-align: center;
}
.cuerpo{
    text-align: justify;
    margin: 5px;
    padding-bottom: 25px;
}

@media screen and (max-width: 768px){
    .container{
        background-color: #ffffff47;
        color: black;
        max-width: 90%;
        border-radius: 30px;
        margin-top: 10px;
    }
}