.container{
    display: flex;
}

.contenedorInput {
    height: 70%; /* Establece la altura al 100% del viewport */
  }

.contenedorInput .row {
    margin: 0 auto;
    text-align: center;
}
  
.contenedorInput .col-md-6 {
    padding: 0;
}

.divInput{
    min-width: 300px;
}

.divButton{
    max-width: 150px;
}

.inputArtista{
    width: 100%;
    min-width: 300px;
    height: 40px;
}

.btnDescubre{
    height: 40px;
    width: 150px;
}

/*PANTALLAS PEQUEÑAS*/

@media screen and (max-width: 768px){
    .row{
        display: inline;
    }

    .divInput{
        min-width: 200px;
    }

    .inputArtista{
        width: 80%;
        min-width: 200px;
        height: 40px;
        text-align: center;
    }
    
    .btnDescubre{
        width: 80%;
        min-width: 200px;
    }
}