<div class="contenedor">
    
    <div class="contenedorInterno">
        <div class="btnVolver">
            <button type="button" class="btn btn-success botonPL" (click)="volver()" >{{ textoBoton2 }}</button>
        </div>
        <div class="infoBuscada">

            <div class="row titulo">
                <h5><strong>{{ tituloBasado }}: </strong></h5>
            </div>
            <hr class="hr">
           <div class="row">
                <div class="col-md-6 foto">
                    <img [src]="this.infoArtista.imagen">
                </div>
                <div class="col-md-6 detalles">
                    <div class="row detallesFila">
                        <p><strong>{{ cancion }}:</strong> {{infoArtista.nombreCancion}}</p>
                    </div>
                    <div class="row detallesFila">
                        <p><strong>{{ artista }}:</strong> {{infoArtista.artista}}</p>
                    </div>
                    <div class="row detallesFila">
                        <p><strong>{{ album }}:</strong> {{infoArtista.nombreAlbum}}</p>
                    </div>
                    <div class="row detallesFila">
                        <p *ngIf="idioma=='ES'"><strong>{{ lanzamiento }}:</strong> {{infoArtista.lanzamiento | date: 'dd/MM/YYYY'}}</p>
                        <p *ngIf="idioma=='EN'"><strong>{{ lanzamiento }}:</strong> {{infoArtista.lanzamiento | date: 'MMMM dd ,YYYY'}}</p>
                    </div>
                    <div class="row detallesFila filaLogo">
                        <img class="spotifyLogo" src="assets/Spotify_Logo_RGB_Black.png">
                    </div>
                </div>
           </div>
           
        </div>
        <div class="resultados">
            <div class="row titulo">
                <h5><strong>{{ tituloRecomendacion }}: </strong></h5>
            </div>
            <hr class="hr">
            <div class="row filaRecomendacion" *ngFor="let recomendacion of recomendaciones">
                <div class="col colRecomendacionImg">
                    <a href="{{recomendacion.linkRepro}}" target="_blank">
                        <img src="{{recomendacion.imagen}}">
                    </a>
                </div>
                <div class="col colRecomendacion">{{recomendacion.nombreCancion}}</div>
                <div class="col colRecomendacion">{{recomendacion.nombreArtista}}</div>
                <div class="col colRecomendacionPlay">
                    <a href="{{recomendacion.linkRepro}}" target="_blank"><i class="fa fa-solid fa-play"></i></a>  
                </div>
                <hr class="hr2">
            </div>
        </div>
        <div class="crearPlayList row">
            <div class="col-md-6 divInput">
                <input type="text" class="form-control inputPL" placeholder="{{ placeholder }}" (keyup)="enterPresionado($event)" #nombrePlayList>
            </div>
            <div class="col-md-6 divButton">
                <button type="button" class="btn btn-success botonPL" (click)="crearPlayList()" >{{ textoBoton }}</button>
            </div>
        
        </div>
    </div>
</div>


<ng-template #myModal let-modal>
    <div class="modal-body">
        <h4> {{ textoModal.titulo}} </h4>
        {{ textoModal.bajada }}
    </div>
</ng-template> 

