

a{
  color:white;
  transition: 0.5s;
}

a:hover{
  color:#157347;
  transition: 0.5s;
}

.hr{
  background: white;
  height: 2px;
}

.hr2{
  border: 0;
}

.btnVolver{
  margin-bottom: 10px;
}

/*DIV BASADO EN*/

.contenedor {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.contenedorInterno {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
}

.infoBuscada,
.resultados {
  width: 100%;
  max-width: 800px; /* Puedes ajustar este valor según tus necesidades */
  margin: 0 auto; /* Centra horizontalmente los elementos */
}

.infoBuscada {
  text-align: center;
  /*border: 1px solid white;
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;*/
  background-color: #ffffff47;
  color: black;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 20px;
}

.infoBuscada img {
  max-width: 100%;
  box-shadow: 3px 3px 3px 0px #00000030
}

.titulo {
  text-align: left;
  padding-top: 10px;
}

.foto {
  max-width: 100%;
  padding-bottom: 15px;
}

.detalles {
  text-align: left;
  margin: auto;
}

.detallesFila {
  margin-bottom: 5px;
}

/*DIV REULSTADOS*/
.resultados {
  text-align: center;
  /*border: 1px solid white;
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;*/
  background-color: #ffffff47;
  color: black;  
  border-radius: 30px;
  margin-top: 15px;
  padding: 20px;
}

.filaRecomendacion img{
  width: 80px;
}

.colRecomendacionImg{
  text-align: center;
  align-self: center;
}

.colRecomendacion{
  text-align: center;
  align-self: center;
  width: 40%;
}

.colRecomendacionPlay{
  text-align: center;
  align-self: center;
  max-width: 15%;
}

.crearPlayList{
  margin-top: 20px;
}

.divInput{
  min-width: 300px;
}

.divButton{
  max-width: 150px;
}

.inputPL{
  width: 100%;
  min-width: 300px;
  height: 40px;
}

.botonPL{
  height: 40px;
  width: 150px;
}

.spotifyLogo{
  width:30%;
  box-shadow: 0px 0px 0px !important;
}

/*MODAL*/

.modal-body{
  background-color: rgb(160,217,222);
  background: linear-gradient(90deg, rgba(160,217,222,1) 0%, rgba(25,183,195,1) 37%, rgba(136,108,207,1) 100%);
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

/*PANTALLAS PEQUEÑAS*/
@media (max-width: 768px) {
  .titulo{
    text-align: center;
  }

  .infoBuscada{
    padding-bottom: 0;
  }

  .infoBuscada img{
    max-width: 90%;
  }

  .detalles{
    text-align: center;
  }

  .filaRecomendacion {
    display: block;
  }

  .filaRecomendacion img{
    width: 120px;
    margin-bottom: 5px;
  }

  .hr2{
    background-color: white;
    border: 1px solid;
    width: 80%;
    display: inline-block;
    margin-top: 5px;
  }

  .colRecomendacion{
    text-align: center;
    min-width: 100%;
    margin-top: 10px;
  }
  
  .colRecomendacionPlay{
    display:none;
  }

  .crearPlayList{
    display: inline;
  }

  .divInput{
    min-width: 200px;
  }

  .inputPL{
      width: 80%;
      min-width: 300px;
      height: 40px;
      text-align: center;
  }

  .botonPL{
      width: 80%;
      min-width: 300px;
  }

  .spotifyLogo{
    width:45%;
    box-shadow: 0px 0px 0px !important;
  }

  .filaLogo{
    display: block;
    padding-bottom: 10px;
  }
}