<div class="container">
    <footer>
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="recomendaciones-musicales" class="nav-link px-2 text-muted">{{ menu.inicio }}</a></li>
        <li class="nav-item"><a href="recomendaciones-musicales/acerca-de" class="nav-link px-2 text-muted">{{ menu.acercaDe }}</a></li>
        <li class="nav-item"><a href="recomendaciones-musicales/privacidad" class="nav-link px-2 text-muted">{{ menu.privacidad }}</a></li>
        </ul>
        <p class="text-center text-muted">{{ desarrolladoPor }} <a href="https://github.com/Piplash" target="_blank">Piplash</a></p>
    </footer>
</div>